.container {
    margin: auto;
    width: 40vw;
    display: grid;
    grid-template-rows:1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.letterBox{
    border: solid grey;
    background-color: darkgray;
    height:  8vh;
    line-height: 8vh;
    width: 4vw;
    text-align: center;
}

.yellowLetterBox{
    background-color: yellow;
}

.greenLetterBox{
    background-color: green;
}

.keyboardContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.keyboardKey{
    border: solid black;
    background-color: rgb(104, 103, 103);
    height:  8vh;
    line-height: 8vh;
    width: 4vw;
    text-align: center;
    margin: 0.5em;
}

.guessForm{
    width: 50%;
    margin: auto;
}