.container {
    margin: auto;
    width: 40vw;
    display: grid;
    grid-template-rows:1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.letterBox{
    border: solid grey;
    background-color: darkgray;
    height:  8vh;
    line-height: 8vh;
    width: 4vw;
    text-align: center;
}

.yellowLetterBox{
    background-color: yellow;
}

.greenLetterBox{
    background-color: green;
}

.keyboardContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.keyboardKey{
    border: solid black;
    background-color: rgb(104, 103, 103);
    height:  8vh;
    line-height: 8vh;
    width: 4vw;
    text-align: center;
    margin: 0.5em;
}

.outsideOfSolution{
    background-color: rgb(0, 0, 0, 0.8);
}

.guessForm{
    width: 50%;
    margin: auto;
}

.winningDiv{
    position: relative;
    animation-name: winAnimation;
    animation-duration: 2s;
}   

@keyframes winAnimation{
    0% {background-color:rgba(0, 128, 0, 0); bottom: 0px;}
    20% {background-color:rgba(0, 128, 0, 0.4); bottom: 25px;}
    30% {background-color:rgba(0, 128, 0, 0.4); bottom: 25px;}
    40% {background-color:rgba(0, 128, 0, 0.6); bottom: 0px;}
    50% {background-color:rgba(0, 128, 0, 0.7); bottom: 10px;}
    60% {background-color:rgba(0, 128, 0, 0.8); bottom: 0px;}
    70% {background-color:rgba(0, 128, 0, 0.9); bottom: 5px;}
    80% {background-color:rgba(0, 128, 0); bottom: 0px;}
    90% {background-color:rgba(0, 128, 0); bottom: 3px;}
    100% {background-color:green; bottom: 0px;}
}